# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Sphinx documentation
docs/_build/

# Application Storage
images/
data/

# Whitelist Markdown images
!images/
images/*
!images/md/

# Whitelist MOCAT data
!data/
data/*
!data/MOCAT/

# Whitelist MASTER data
!data/
data/*
!data/MASTER/

# Dev files
dev_*.py

# Docs
docs/

# C# dev
*.sln