# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Sphinx documentation
docs/_build/

# Application Storage
images/
data/csv

# Sqlite3 Databases
*.db

# Dev files
dev_*.py

# Docs
docs/

# C# dev
*.sln